<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="BootstrapPizza.css"> -->

    <title>Weather</title>
<style>
body {background-color: rgb(49, 113, 197);}
h1   {color: rgb(4, 4, 112);}
h2   {color: rgb(4, 4, 112);}

</style>
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVDIa3S6ppr_qE4dDEBHbfEaEdxELEmbDFqQ&usqp=CAU" height="200px" width="1000px" alt=""></center>
      </div>
    </div>
  </div>
  <p style="font-family:'Courier New'"><H1><center>Current weather for</center></H1></p>
  <H3><center>{{address}}</center></H3><br><br>
  <div id="caro" class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <!-- Carousel -->
        <div id="caro2" class="col-md-4">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  
                  
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img id="pic1" src="https://nam.edu/wp-content/uploads/2021/02/blue-sky.png" height="300px" width="400px" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <p><h1><center>{{curr_weather}}</center></h1></p><br>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img id="pic2" src="https://www.thoughtco.com/thmb/ES9ptUUEngWOSuN0yPSV2fwo-ts=/1414x1414/smart/filters:no_upscale()/thermometer-sun-high-degres--hot-summer-day--high-summer-temperatures-1010691618-2a5ca45876424dffbef441d73ae896b8.jpg" height="300px" width="400px" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h1>Temperature</h1>
                      <p><h1><center>{{curr_temp}}&#176F</center></h1></p>
                      <h1>Feels like</h1>
                      <p><h1><center>{{feels_like_temp}}&#176F</center></h1></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img id="pic3" src="https://d3mvlb3hz2g78.cloudfront.net/wp-content/uploads/2013/02/thumb_720_450_881.jpg" height="300px" width="400px" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h1>Humidity</h1>
                      <p><h1><center>{{humidity}}%</center></h1></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img id="pic4" src="https://media.nationalgeographic.org/assets/photos/000/317/31751.jpg" height="300px" width="400px" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h1>Wind speed</h1>
                      <p><h2><center>{{wind_speed}} mph</center></h2></p>
                      <h1>Wind gust</h1>
                      <p><h2><center>{{wind_gust}} mph</center></h2></p>
                    </div>
                  </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
      <div id="test2" class="col-md-4">                
      </div>      
        </div>
    </div>

</div>

    
    <!-- Bootstrap Javascript  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- My Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>